footer{
    width: 100%;
    margin-top: auto;
}
.footerR{
   width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
.logoFooter{
    a{
        text-decoration: none;
        @extend %colorTexto;
    }
    a:hover{
        @extend %colorTextohover;
    }
}
.redesSociales img{
    width: 2rem;
    height: 2rem;
}
.redesSociales ul{
    list-style: none;
}
.logoFooter img{
    width: 2rem;
    height: 2.2rem;
}


.derechos{
    text-align: center;
}